<!DOCTYPE html>
<html>
<body>

  <header id="header"><center><h1>Sean Michael Finley's Blog with Google Maps</h1></center>
  </header>

  <div id="container">

    <main id="center" class="column">
      <article>
          <h1>Listing Blog Articles</h1><%= link_to 'New Post', new_article_path %>
        <table>
          <tr>
            <th>Title</th>
            <th>Text</th>
            <th colspan="3"></th>
          </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'View', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  
</table>
      
      </article>                
    </main>

    <nav id="left" class="column">
      <h3><%= link_to("Home", welcome_index_path) %></h3>
      <ul>
        <li></li>
      </ul>
    </nav>
</div>
<div id="footer-wrapper">
    <footer id="footer">
    </footer>
  </div>
<% end %>
</body>

</html>