<!DOCTYPE html>
<html>
<body>

	<header id="header"><center><h1>Sean Michael Finley's Ruby on Rails Blog &copy;</h1></center>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109541948-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-109541948-1');
</script>

	</header>

	<div id="container">

		<main id="center" class="column">
			<article>
			
				<h2>Sean Michael Finley</h2>
				<h4>(818)398-3429<h4>
				<h4>LinkedIn<a href="https://www.linkedin.com/in/sean-finley-783a90ab"> https://www.linkedin.com/in/sean-finley-783a90ab</a></h4>
				<h4>Twitter(@SeanMFinley89)<a href="https://twitter.com/SeanMFinley89?s=09"> https://twitter.com/SeanMFinley89?s=09</a></h4>
				<h4>Wordpress<a href="https://seanmichaelfinley.wordpress.com/"> https://seanmichaelfinley.wordpress.com/</a></h4>
				<h4>Facebook<a href="https://www.facebook.com/sean.finley.9081"> https://www.facebook.com/sean.finley.9081</a></h4>
				<h4>Github<a href="https://github.com/sfinley89"> https://github.com/sfinley89</a></h4>
				<p>Grey text goes here</p>
				<p2>My blog uses PostgreSQL for the database.</p2>
				<a href="http://71dd8mf3veobt36drhr83ol1ai.hop.clickbank.net/?tid=UA-109541948-1" target="_top">Click Here!</a>

			</article>								
		</main>

		<nav id="left" class="column">
			<h3><%= link_to("Home", welcome_index_path) %></h3>
			<ul>
				<li><%= link_to 'My Blog', controller: 'articles' %></li>
				<li><%= link_to 'Create New Post', new_article_path %></li>
			</ul>
		</nav>

		<div id="right" class="column">
			<h3>Pics</h3>
			<%= image_tag("sean.jpg", :alt => "Picture of Sean Finley") %>
		</div>

	</div>

	<div id="footer-wrapper">
		<footer id="footer">
		</footer>
	</div>
	<h4>Listing Blog Articles</h4>
        <table>
          <th>Title</th>
       		<th>Text</th>
            
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'View', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  
</table>
<% end %>
</body>

</html>
